body{
    
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    background-color: hsl(0, 0%, 95%);
}

p{
    color: hsla(0, 0%, 100%, 0.75);
}

h2{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    margin: 2rem 0;
}

#sedans{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

#suvs{
    background-color: hsl(184, 100%, 22%);
}

#luxury{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.btn{
    background-color: hsl(0, 0%, 95%);
    border-radius: 1rem;
    margin-top: 4rem;
}

#btn-sedans{
    color: hsl(31, 77%, 52%);
}

#btn-suvs{
    color: hsl(184, 100%, 22%);
}

#btn-luxury{
    color: hsl(179, 100%, 13%);
}

.container{
    margin-top: 5%;
    width: 70%;
}

.col-lg-4{
    padding: 3rem;
}

